@font-face {
  font-family: 'Circular Std';
  src: url('./../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('./../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}