:root {
	--device-width: 1440;
	--container: 1200;

	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'Circular Std', sans-serif;
	/* --font-accent: 'Playfair Display', serif; */

	--font-size-main: 16;
	--line-height-main: 1.5;

	--page-bg: #fff;

	--text-white: rgb(255, 255, 255);
	--text-black: rgb(24, 24, 24);
	--text-muted: rgb(144, 144, 144);
	--text-muted-2: rgb(69, 69, 69);
	--text-muted-3: rgb(183, 183, 183);
	--accent: rgb(53, 175, 244);

	--yellow: rgb(249, 184, 17);
	--gray: rgb(176, 176, 176);

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}