.testimonials {
  --spacing: 2rem;

  z-index: -1;
  isolation: isolate;
  position: relative;
}

.testimonials-card {
  margin-bottom: var(--spacing);
  background: var(--text-white);
  padding: var(--spacing);
  box-shadow: 0 4px 10px 0 rgba(23, 28, 31, 0.23);
  border-radius: 8px;

  & > *:not(:last-child) {
    margin-bottom: var(--spacing);
  }
}

.testimonials-card__stars {
  height: 19px;
  & > svg {
    width: 20px;
    height: 100%;
  }
}

.testimonials-card__review {
  font-weight: 450;
  color: var(--text-muted);
}

.testimonials-card__author {
  display: flex;
  gap: 1rem;
}

.author__avatar {
  width: 56px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.author__data {
  padding-left: 1rem;

  & h5 {
    font-weight: 500;
  }

  & p {
    font-weight: 450;
    color: var(--text-muted);
  }
}

.testimonials-scroller {
  height: 60vh;
  overflow: hidden;
  mask: linear-gradient(180deg, transparent, white 10%, white 90%,transparent);
}

.testimonials-scroller__inner {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(3, 1fr);

  & > *:nth-child(3n+2) {
    transform: translateY(16px);
  }
}

.testimonials-scroller__inner:hover .testimonials-card {

}

.testimonials-scroller[data-animated="true"] .testimonials-scroller__inner {
  height: max-content;
  animation: testimonial-scroll 100s linear infinite;
}

@keyframes testimonial-scroll {
  to {
    transform: translateY(calc(-50% - 1rem));
  }
}